<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{loyout}">
<head>
    <title>PlayList</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div th:if="${param.success}" class="alert alert-success">
                You are registered success!!
            </div>
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Home</h1>
            </div>
            <div>
                <form th:action="@{/home/search}" class="form-inline my-2 my-lg-0 mb-3">
                    <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Search Playlist" aria-label="Search">
                </form>
            </div>
            <div class="row gx-5">
                <div th:each="playList : ${playLists}" class="col-lg-6">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" th:src="${playList.photoUrl}"/>
                        <a th:href="@{/playLists/{playListId}(playListId=${playList.id})}" class="h2 fw-bolder text-decoration-none link-dark stretched-link" href="#!">
                            <span th:text="${playList.name}"></span> - <span th:text="${playList.singer}"></span>
                        </a>
                        <h5 class="card-text">Rating playlist : <span th:text="${playList.ratio}"></span></h5>
                        <h5 class="card-text">Created by : <span th:text="${playList.createdBy.username}"></span></h5>
                    </div>
                    <a class="btn btn-primary" th:href="@{/playLists/{playListId}(playListId=${playList.id})}">View</a>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
</body>
</html>