<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{loyout}">
<head>
  <title>PlayList Detail</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <section layout:fragment="body" class="py-5">
    <header class="py-5 bg-light border-bottom mb-4">
      <div class="container">
        <div class="text-center my-5">
          <h1 class="fw-bolder" th:text="${playList.name}"></h1>
          <h1 class="fw-bolder" th:text="${playList.singer}"></h1>
        </div>
      </div>
    </header>
    <!-- Page content-->
    <div class="container">
      <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
          <!-- Featured blog post-->
          <div class="card mb-4">
            <a><img class="card-img-top" th:src="${playList.photoUrl}" alt="..." /></a>
            <div class="card-body">
              <h2 class="card-title">About playList</h2>
              <p class="card-text" th:text="${playList.text}"></p>
              <h2 class="card-text">Ratio playList :</h2>
              <p class="card-text" th:text="${playList.ratio}"></p>
              <a class="btn btn-primary" th:href="@{/playLists/{playListId}/delete(playListId=${playList.id})}">Delete</a>
              <a class="btn btn-primary" th:href="@{/songs/{playListId}/new(playListId=${playList.id})}">Add Song</a>
            </div>
          </div>
          <!-- Nested row for non-featured blog posts-->
          <div class="row">
            <div class="col-lg-10">
              <div th:each="song : ${playList.songs}" class="card mb-4">
                 <div class="position-relative mb-3">
                  <a th:text="${song.name}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" ></a>
                  <h4 class="card-text" th:text="${song.singer}"></h4>
                   <h5 class="card-text" style="display: inline;">Ratio song :</h5>
                   <h5 class="card-text" style="display: inline;" th:text="${song.ratio}"></h5>
                </div>
          <!-- Pagination-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>