<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{loyout}">
<head>
  <title>Playlist Detail</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <section layout:fragment="body" class="py-5">
    <header class="py-5 bg-light border-bottom mb-4">
      <div class="container">
        <div class="text-center my-5">
          <h1 class="fw-bolder" th:text="${playList.name}"></h1>
          <h1 class="fw-bolder" th:text="${playList.singer}"></h1>
        </div>
      </div>
    </header>
    <!-- Page content-->
    <div class="container">
      <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
          <!-- Featured blog post-->
          <div class="card mb-4">
            <a><img class="card-img-top" th:src="${playList.photoUrl}" alt="..." /></a>
            <div class="card-body">
              <h2 class="card-text">Rating playlist :</h2>
              <h5 class="card-text" th:text="${playList.ratio}"></h5>
              <h5 class="card-text" style="display: inline;">AvgRating songs :</h5>
              <h5 class="card-text" th:text="${playList.avgRatio}"></h5>
              <div th:if="${user.id} == ${playList.createdBy.id}">
               <a class="btn btn-primary" th:href="@{/playLists/{playListId}/delete(playListId=${playList.id})}">Delete</a>
               <a class="btn btn-primary" th:href="@{/songs/{playListId}/addSong(playListId=${playList.id})}">Add Song</a>
              </div>
            </div>
          </div>
          <!-- Nested row for non-featured blog posts-->
          <div class="row">
            <div class="col-lg-6">
              <div th:each="song : ${playList.songs}" class="card mb-4">
                <div class="card-body">
                  <h3 class="fw-bolder text-decoration-none link-dark">
                    <a th:text="${song.name}" alt="..."></a>
                  </h3>
                  <h4 th:text="${song.singer}" class="card-title h4"></h4>
                  <h5 class="card-text" style="display: inline;">Rating song :</h5>
                  <h5 class="card-text"  th:text="${song.ratio}"></h5>
                  <a class="btn btn-primary" th:href="@{/songs/{songId}(songId=${song.id})}">More</a>
                  <div th:if="${user.id} == ${playList.createdBy.id}">
                    <a th:href="@{/songs/{playListId}/remove/{songId}(playListId=${playListId},songId=${song.id})}" class="btn btn-primary" th:method="post">delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>