<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{loyout}">
<head>
  <title>PlayList</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="container px-5 my-5">
      <div class="text-center mb-5">
        <h1 class="fw-bolder">Find Running Events</h1>
        <p class="lead fw-normal text-muted mb-0">Find running events near you</p>
      </div>
      <div class="row gx-5">
        <div th:each="song :${songs}" class="col-lg-6 mb-2">
          <div class="position-relative mb-3">
            <a th:text="${song.name}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!"></a>
            <h4 class="card-text" th:text="${song.singer}"></h4>
            <h5 class="card-text">Ratio song :</h5>
            <h4 class="card-text" th:text="${song.ratio}"></h4>
          </div>
          <a th:href="@{/songs/{songId}(songId=${song.id})}" class="btn btn-primary">View</a>
          <a th:href="@{/songs/{songId}/edit(songId=${song.id})}" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Footer-->
</body>
</html>